# =========================================================
# docker-compose.yml
# =========================================================
# Este archivo define CÓMO se ejecutan los contenedores.
#
# Dockerfile      = cómo se construye la imagen (build time)
# docker-compose  = cómo se ejecuta (run time)
#
# Aunque solo haya 1 servicio, Compose ayuda porque:
# - Unifica el comando: docker compose up --build
# - Mapea puertos (para abrir la app en el navegador)
# - Maneja volúmenes (persistencia)
# =========================================================

services:
  # -------------------------------------------------------
  # Servicio WEB (Django)
  # -------------------------------------------------------
  web:
    # build:
    # - Construye la imagen usando el Dockerfile del directorio actual (.)
    build: .

    # ports:
    # - "HOST:CONTENEDOR"
    # - Expone el servidor Django al host.
    # - Podrás abrir: http://localhost:8000
    ports:
      - "8000:8000"

    # volumes:
    # - Persistencia de datos (SQLite)
    # - Montamos un volumen nombrado llamado "sqlite_data" en el contenedor:
    #   /app/helloworld/data
    #
    # Importante:
    # - En settings.py configuramos SQLite para guardarse en:
    #   /app/helloworld/data/db.sqlite3
    # - Como esa carpeta está montada a un volumen, los datos NO se pierden
    #   al bajar/subir contenedores.
    volumes:
      - sqlite_data:/app/helloworld/data


# ---------------------------------------------------------
# Volúmenes
# ---------------------------------------------------------
# Los volúmenes viven FUERA del contenedor.
# El contenedor es efímero, el volumen NO.
volumes:
  sqlite_data:
